body {
  font-family: 'Lato', Arial, sans-serif;
}

.banner,
.tweet {
  margin: 1em auto;
  max-width: 30em;
}

.banner {
  height: 6em;
}

.banner img {
  clear: both;
  display: inline-block;
  margin: 0 auto;
  /*position: fixed;*/
  width: 25em;
}

.message,
.subMessage {
  margin: 0.5em auto 0.5em;
}

.newTweets {
  background-color: #4695D7;
  border: none;
  border-radius: 5px;
  color: #fff;
  font: inherit;
  height: 3em;
  right: 15%;
  margin: 1em auto;
  padding: 0 2em 0;
  position: fixed;
}

.newTweets:hover{
  background-color: #0e6ab6;
}

.timestamp,
.subTimestamp {
  color: gray;
  font-size: 0.8em;
  text-align: right;
}

.tweeter {
  color: #4695D7;
  display: block;
  font-size: 1.2em;
  font-weight: 700;
}

.tweetStream {
  display: none;
  margin-left: 1.5em;
}